<!-- Navigation Bar w/ Register + Login -->
<nav class="navbar navbar-inverse">
  
  <div class="container-fluid">
    <div class="navbar-header">

      <!-- Name / Logo -->
      <a href="/index"><h2 style="color:#fff">Gator Trader</h2></a>

      {{!-- {{#if excludeSearch}}
      {{else}} --}}

      <!-- "All" Dropdown -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">All
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            {{#each categories}}
            <li><a href="#"></a>{{this.category_name}}</a></li>
            {{/each}}
          </ul>
        </div>


        <!-- Search Bar -->
        <div class="container">
          <form action="/search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="search" value="{{data.search}}">
              <!-- Search Bar Button -->
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        {{!-- {{/if}} --}}

      </div>

      <!-- Login / Register Buttons -->
      {{#if username}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, {{username}}</a></li>
        <li><a href="/clear"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        <li><a href="#">My Dashboard</a></li>
      </ul>
      {{else}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      {{/if}}
    </div>
  </nav>

  <!-- Navigation Bar w/ Categories -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/search?browse=-1">All Categories</a></li>
          {{#each categories}}
          <li><a href="/search?browse={{this.category_id}}">{{this.category_name}}</a></li>
          {{/each}}
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/post">Sell An Item</a></li>
          <li><a href="/index">About Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
