<!-- admin dashboard -->
<div class="body">
	<div class='page-title container'>
		<h2>Administrator Dashboard</h2>
	</div>
	<div class="view-tabs container">
		<button class="tab-link" onclick="viewSwitch('Items', this, 'orange')" id="defaultOpen">Items</button>
		<button class="tab-link" onclick="viewSwitch('Users', this, 'orange')" id="userButton">Users</button>
	</div>

	<div class="body-table container">
		<div  class="item-list tab-content" id="Items">
			<div class="filters"> {{data.items.length}} Total Items
				<span class="dropdown filter-dropdown">
					<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="filters-menu" data-toggle="dropdown" >
						Sort by <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="filters-menu">
						<li role="presentation"><a role="menuitem" href="/admin?sort_item=item_date&type=DESC">Newest First</a></li>
						<li role="presentation"><a role="menuitem" href="/admin?sort_item=item_date&type=ASC">Oldest First</a></li>
						<li role="presentation"><a role="menuitem" href="/admin?sort_item=item_title&type=ASC">Alphabetical Item Title</a></li>
						<li role="presentation"><a role="menuitem" href="/admin?sort_item=item_price&type=DESC">Highest Price First</a></li>
						<li role="presentation"><a role="menuitem" href="/admin?sort_item=item_price&type=ASC">Lowest Price First</a></li>

					</ul>
				</span>
			</div>

			<div class="table-responsive-lg dashboard-item-table-wrapper">
				<table class="dashboard-item-table">
					<thread>
						<tr class="dashboard-item-table-key" >
							<th ></th>
							<th >Title</th>
							<th >Category</th>
							<th >ID Number</th>
							<th >Price</th>
							<th >Date</th>
							<th >Description</th>
							<th>Status</th>

						</tr>
					</thread>
					<tbody>

						{{#if data.items}}
						{{#each data.items}}
						<tr class="dashboard-item ">
							<td><button type="button" onclick="location.href='/item/{{this.item_id}}'" class="btn item_image_thumbnail_btn f-l">
								<img src="{{this.item_image_thumbnail}}" class="item_image_thumbnail">
							</button>
						</td>
						<td>
							<div class=" ">{{{this.item_title}}}</div>
						</td>
						<td>
							<div class=" ">{{this.item_category}}</div>
						</td>
						<td>
							<div class=" ">{{this.item_id}}</div>
						</td>
						<td>
							<div class=" ">{{this.item_price}}</div>
						</td>
						<td >
							<div class=" ">{{{this.item_date}}}</div>
						</td>
						<td >
							<div class="item-description ">{{{this.item_description}}}</div>
						</td>

						<td>
							<div class=" ">{{{this.item_status}}}</div>
						</td>

						{{#if this.pending}}

						<td>
							<button type="button" onclick ="location.href='/admin?approve_item={{this.item_id}}'" class="btn item-approval-btn">
								APPROVE<br/>ITEM
							</button>

						</td>
						<td>
							<button type="button" onclick ="location.href='/admin?remove_item={{this.item_id}}'" class="btn item-denial-btn">
								DENY<br/>ITEM
							</button>

						</td>

						{{else}}

						<td colspan="2">
							<button type="button" onclick ="location.href='/admin?remove_item={{this.item_id}}'" class="btn item-denial-btn">
								REMOVE<br/>ITEM
							</button>

						</td>

						{{/if}}
					</tr>
					{{/each}}
					{{/if}}


				</tbody>
			</table>
		</div>
	</div>


	<div id="Users" class="tab-content user-list">
		<div class="filters"><span class="">{{data.users.length}} Total Users</span><span class="dropdown filter-dropdown">
			<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Sort by
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="/admin?sort_user=user_name&type=ASC">User A-Z</a></li>
					<li><a href="/admin?sort_user=user_name&type=DESC">User Z-A</a></li>
					<li><a href="/admin?sort_user=user_date&type=ASC">Oldest Joined</a></li>
					<li><a href="/admin?sort_user=user_date&type=DESC">Newest Joined</a></li>
				</ul>
			</span>
		</div>

		<!-- single user -->
		{{#if data.users}}
		{{#each data.users}}
		<div class='user-box'>
			<h3>User: {{this.user_name}}<br>Joined: {{{this.user_date}}}</h3>
			{{#if this.items}}
			<div class="user-item-list">
				{{#each items}}
				<h4>Item: <a href="/item/{{this.item_id}}">{{{this.item_title}}}</a></h4>
				{{/each}}
			</div>

			{{else}}
			<h4 style="padding-left:3em;">This user has no items</h4>
			{{/if}}


			<button class="btn remove-user-btn" onclick="location.href = '/admin?remove_user={{this.user_id}}'">REMOVE USER</button><br/>
		</div>
		{{/each}}
		{{/if}}
		<!-- end single user -->





	</div>

</div><!-- end row -->
</div><!-- end page body -->
