
<div class="col-sm-5" style="background-color:#EBEBEB;">

<br>
<h2><center>Item Details: </center></h2>
<br>

<center><img class="img-responsive" src="{{data.item_image}}" alt="{{data.item_image}}" style="width:400px;"></center>

<br><br><br>


</div>

<div class="col-sm-7" style="background-color:#d3d3d3;">

<br><br><br><br><br>
<h3>Item ID: {{data.item_id}}</h3>

<h3>Item Name: {{data.item_title}}</h3>
<h3>Price: {{data.item_price}}</h3>
<h3>Category: {{data.category}}</h3>
<h3>Description: {{data.item_description}}</h3>

<br>

<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Message">Contact Seller</button>

<!--Modal-->
<div class="modal fade" id="Message" tabindex="-1" role="dialog" aria-labelledby="Message" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Contact Seller</h4>
      </div>

          <div class="modal-body">


          <div class="form-group">
            <form action="/message" method="post" enctype="multipart/form-data">
            <label for="message-text" class="col-form-label">Message:</label>
          
            <input type="text" class="form-control" name="text_message" required>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="window.open('/messageSent', '_blank')">Send Message</button>
            </div>
            </form>
          </div>
      </div>

    </div>
  </div>
</div>


<br>
<br>
<br>

</div>
