
{{#if data}}
<!-- Navigation Bar w/ Dropdowns -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <a href="#" style="text-decoration:none;"><h5 style="color:#fff; font-size:150%;">Showing {{data.length}} of {{data.length}} results</h5></a>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        {{!-- <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter
          <span class="caret"></span></button>
        </div> --}}

      </ul>
    </div>
  </div>
</nav>

{{/if}}


  <!-- Left-aligned media object -->
  <div class = "col-sm-9">
  <br>

  {{#if data}}
  {{#each data}}
  <div class="media">
    <div class="media-left">
    <a href="/item/{{this.item_id}}" target="_blank"><img src="{{this.item_image_thumbnail}}" class="media-object" style="width:200px"></a>
    </div>
    <div class="media-body">
      <h3 class="media-heading">Item Name: {{this.item_title}}</h3>
      {{!-- <h4>Category: </h4> --}}
      <h4>Price: {{this.item_price}}</h4>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-warning" onclick="window.open('/item/{{this.item_id}}?open=true', '_blank')" >Contact Seller</button>
    </div>
  </div>
  <hr>
  {{/each}}
  {{/if}}

  </div>

<!-- sidebar -->
<div class = "col-sm-3">

<div class="sidebar" >

      <div class="sidebar-box">
        <h2>Campus Map</h2>
        <a href="http://www.sfsu.edu/~sfsumap/"><img src="images/campusmap.png" alt="campus map" class="container map"></a>
      </div>

      <div class="sidebar-box">
        <h2>Pick-Up Locations</h2>
        <h4>University PD Station -  <a href="http://www.sfsu.edu/~sfsumap/northwest.htm">D4</a></h4>
        <h4>Library Peet's Coffee -  <a href="http://www.sfsu.edu/~sfsumap/southeast.htm">I7</a></h4>
        <h4>C. Chavez Student Center - <a href="http://www.sfsu.edu/~sfsumap/southeast.htm">H7</a></h4>
      </div>

      <div class="sidebar-box">
        <h2>University Police Department</h2>
          <h4>In case of EMERGENCY dial 911</h4>
          <h4>from a campus phone line or</h4>
          <h4> (415) 338 2222 from a cell phone.</h4>
          <br/>
          <h4> Non-emergency: (415) 338 7200</h4>
          <h4> Station located on North State Drive D4 on the map</h4>
          <h4> <a href="https://upd.sfsu.edu/">UPD website</a></h4>
      </div>

      <div class="sidebar-box">
        <h2>Administration Contact</h2>
        <h4>admin@gatortrader.com</h4>
      </div>

    </div> <!-- end sidebar -->
</div> <!-- sidebar column -->
