<!DOCTYPE html>
<html>
  <head>
    <title>Vertical</title>
  </head>
  <body>
    <h1 style="text-align: center;">CSC 648 - Team 02 Vertical Prototype</h1>
    <h3>Search returned <%= size %> results</h3>
    <ul>
      <% data.forEach(function(item) { %>
        <li><%= item.item_title %> - <%= item.item_price %> - 
            <%= item.item_description %> - Approved: <%= item.item_status %>
	    <img src="<%= item.item_image %>" style="width: 100px;">
        </li>
      <% }); %>
    </ul>
  </body>
</html>
